@import 'base';

.Rapper {
    margin: 5rem auto 0;
    width: 47.5rem;
}

.Icon-container {
    display: inline-block;
    float: right;
}

.Icon {
    width: 2rem;
    height: 2rem;
    opacity: .65;
    margin-left: 1rem;
}

.Archive {
    margin-bottom: 2rem;
}

    .Archive-post {
        padding: 2rem 1rem;
        border-bottom: 1px solid #ccc;
    }

    .Archive-postTitle {
        color: #323232;
        font-size: 1.5rem;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .Archive-postDate {
        display: block;
    }